* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.header {
  background: radial-gradient(#04387396, #0438736e), url("../assets/images/backgroundimg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 90px;
  padding-top: 30px;
  overflow: hidden;
}

.header-contents {
  display: flex;
  background-color: #09335f;
  padding: 14px 12px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 90px;
  margin-top: -30px;
}

.header-contents a {
  text-decoration: none;
  color: #ffffffb6;
}

.ul-list li {
  list-style: none;
  padding: 4px 14px;
}

nav .ul-list {
  display: flex;
  font-size: 16px;
}

.menubutton {
  display: none;
  cursor: pointer;
}

.logo {
  display: flex;
  font-size: 20px;
  text-align: center;
}

.ul-list a:hover {
  color: #fff;
  transition: 0.4s;
}

select {
  border: none;
  background-color: #09335f;
  color: #ffffff6e;
  cursor: pointer;
}

select:hover {
  color: white;
  transition: 0.4s;
}

#whitepacework,
.buttonx {
  display: none;
}

.login {
  margin: -8px 9px 0;
  border: none;
  padding: 12px 25px;
  border-radius: 7px;
  background-color: #fdeb99f5;
  color: #09335f;
  cursor: pointer;
  font-size: 16px;
}

.login:hover {
  background-color: #eed669f5;
}

.trywhite {
  margin: -8px 15px 0 9px;
  border: none;
  padding: 12px 25px;
  border-radius: 7px;
  background-color: #43a2e2f5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.trywhite:hover {
  background-color: #0d80cef5;
}

.bar {
  height: 3px;
  width: 27px;
  background-color: #fff;
  margin: 4px 0;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

#whitepacework,
#section3,
.headerproperties {
  padding: 100px 70px 0;
  color: #fff;
  display: flex;
  width: 100%;
}

.whiteinfo {
  padding-top: 50px;
  margin: auto;
  width: 100%;
}

.whiteinfo h2 {
  line-height: 100px;
  font-size: 85px;
}

.whiteinfo p {
  padding: 30px 20px 40px 10px;
  font-size: 18px;
}

.imagecontainer {
  padding: 12px 28px 12px 12px;
  width: 100%;
}

.whiteinfo .trywhite {
  padding: 18px 40px;
  margin-bottom: 20px;
}

section.headerproperties {
  padding: 130px 70px 0 90px;
  color: #000;
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

#whitepacework,
#section3 {
  background-color: #09335f;
  color: #fff !important;
}

.sectionx {
  text-align: center;
  padding-bottom: 50px !important;
}

.chooseplan {
  display: flex;
}

.chooseplanx {
  margin: auto;
  line-height: 35px;
}

.chooseplanx h2 {
  line-height: 100px;
  font-size: 85px;
  text-align: center;
}

.chooseplanx p {
  padding: 10px 0;
  font-size: 18px;
  text-align: left;
}

.logos img {
  padding: 4px 10px;
}

#paragraphx {
  text-align: center;
}

.plansx {
  display: flex;
  justify-content: center;
}

.chooseplanx ul {
  list-style: none;
  list-style-image: url("../assets/images/list.png");
}

#clientheader,
#sponsorsid {
  line-height: 100px;
  font-size: 85px;
  text-align: center;
  overflow: hidden;
}

.sponsor {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.sponsor img {
  padding: 20px 50px;
}

.plansx .plan1 {
  margin: 3rem 1rem;
  padding: 2rem 1rem 1rem 3rem;
  border-radius: 10px;
  box-shadow: 0 0 8px #ffe492;
  width: 350px;
  height: 50%;
}

.plansx .bplan1 {
  box-shadow: 0 0 3px #ffe492;
  border: 2px solid #ffe492;
  padding: 14px;
  border-radius: 10px;
  background-color: inherit;
  margin-top: 8px;
}

.dollarx {
  color: #ffe492;
}

.plansx .plan2 ul {
  list-style-image: url("../assets/images/listy.png");
  color: #fff;
}

.plan2 {
  margin: 1rem;
  background-color: #043873;
  padding: 2.5rem;
  border-radius: 10px;
  width: 320px;
  color: #fff;
}

.plan2 .bplan2 {
  border: none;
  box-shadow: 0 0 2px #43a2e2f5;
  background-color: #43a2e2f5;
  padding: 14px;
  border-radius: 10px;
  color: #fff;
  margin-top: 8px;
}

#appsid {
  background: radial-gradient(#04387396, #0438736e), url("../assets/images/backgroundimg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding-bottom: 80px;
}

.clientscomments {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}

.client1 {
  margin: 15px;
  padding: 30px;
  width: 18%;
  border-radius: 8px;
  box-shadow: 2px 2px 3px #898b8bf5;
}

.client2 {
  margin: 15px;
  padding: 30px;
  width: 18%;
  background-color: #4f9cf9;
  border-radius: 8px;
  color: #fff;
}

.subimg {
  display: flex;
  padding: 8px;
}

.subtext {
  padding: 6px;
}

.footercontains {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #2e4e73;
  overflow: hidden;
}

.footerdetails {
  width: 350px;
  padding: 5rem;
  cursor: pointer;
}

footer {
  background-color: #09335f;
  color: #fff;
}

#overview {
  color: #ffe492;
}

.last,
.lastsection {
  padding: 10px;
  display: flex;
}

.lastsection p {
  padding: 1px 18px;
}

.lastsection2 {
  padding: 10px 0 1px 40%;
  overflow: hidden;
}

.lastsection2 img {
  justify-content: left;
}

#section3y {
  color: #fff;
}

@media (max-width: 1152px) {
  .imagecontainer {
    padding: 12px 25px;
  }

  #chooseheader,
  .whiteinfo h2,
  #clientheader,
  #sponsorsid {
    font-size: 48px;
    line-height: 40px;
  }

  .whiteinfo p {
    font-size: 16px;
  }

  nav {
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #043873;
    padding: 8px;
    width: 100%;
    transform: translateX(-100%);
  }

  select {
    background-color: #043873;
  }

  .ul-list {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .menubutton {
    display: block;
  }

  .scrolebar {
    overflow-x: scroll;
  }

  .plansx {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .plansx .plan1,
  .plan2 {
    width: 40%;
  }

  .ul-list button {
    display: none;
  }

  .buttonx {
    display: block;
    margin-left: auto;
  }

  .sponsor {
    display: block;
    text-align: center;
  }

  .clientscomments {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .client1,
  .client2 {
    width: 40%;
  }

  .footercontains {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    overflow: hidden;
  }

  .lastsection {
    padding: 3px;
    display: grid;
    grid-template-columns: 15% 25% 15% 15% 35%;
    overflow: hidden;
  }

  .lastsection2 {
    padding: 0 0 0 15%;
  }

  .lastsection2 img {
    justify-content: left;
  }
}

@media (max-width: 768px) {
  /* .imagecontainer {
    padding: 18px 30px 30px;
  } */

  .header {
    padding-bottom: 30px;
  }

  section.headerproperties {
    padding: 10px !important;
  }

  .sponsor,
  #whitepacework,
  #section3,
  .headerproperties,
  section.headerproperties {
    display: block;
    padding-top: 50px;
    overflow: hidden;
  }

  .whiteinfo {
    text-align: center;
  }

  .imagecontainer {
    width: 100%;
    padding: 4px;
    margin: 0;
  }

  #chooseheader,
  .whiteinfo h2,
  #clientheader,
  #sponsorsid {
    font-size: 48px;
    line-height: 40px;
  }

  .headerproperties {
    padding: 0;
    margin: 2px auto;
    margin-top: 25px;
  }

  #firstimg {
    padding: 0 4px;
  }

  .whiteinfo p {
    font-size: 18px;
  }

  nav {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #043873;
    width: 100%;
    transform: translateX(-100%);
  }

  select {
    background-color: #043873;
  }

  .ul-list {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .plansx {
    display: flex;
    flex-direction: row;
    margin-left: -13rem;
    width: 1500px;
  }

  .chooseplanx {
    width: 100%;
  }

  .scrolebar {
    overflow-x: scroll;
  }

  .plansx .plan1,
  .plan2 {
    font-size: 14px;
    line-height: 28px;
    width: 300px;
    height: min-content;
    margin: 30px;
  }

  .ul-list button,
  .buttonx {
    display: none;
  }

  .menubutton {
    display: block;
  }

  .sponsorclass {
    text-align: center;
  }

  .clientscomments {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  .client1,
  .client2 {
    width: 340px !important;
    height: 400px;
  }

  .client1 {
    margin-left: 40rem;
  }

  .client1 img,
  .client2 img {
    width: 150px !important;
    height: 100px;
    margin: auto;
  }

  .footercontains {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    column-gap: 30px;
  }

  .footerdetails {
    padding: 20px;
    width: fit-content;
  }

  .lastsection {
    padding: 3px;
    display: grid;
    grid-template-columns: 15% 25% 15% 15% 35%;
    overflow: hidden;
  }

  .lastsection2 {
    padding: 0;
  }
}
